@model IEnumerable<Scheduler.Common.CommandExecution>

@{
    ViewBag.Title = "Command Executions";
}

<table id="executions" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Command Name
            </th>
            <th>
                Client Device
            </th>
            <th>
                Type
            </th>
            <th>
                Result
            </th>
            <th>
                Duration
            </th>
            <th>
                Logs
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var execution in Model)
        {
            var duration = new TimeSpan(0);
            if (execution.FinishExecution.HasValue && execution.StartExecution.HasValue)
            {
                duration = execution.FinishExecution.Value.Subtract(execution.StartExecution.Value);
            }
            <tr>
                <td>@execution.Id</td>
                <td>@execution.Command.Name</td>
                <td>@execution.Client.Name</td>
                <td>@execution.Type</td>
                <td>@execution.Result</td>
                <td>@duration.ToString()</td>
                <td>@Html.ActionLink("View Logs", "Details", new {id = execution.Id}, new { @class = "btn btn-default btn-primary" })</td>
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script type="text/javascript">
        $(function() {
            $('#executions').DataTable();
        });
    </script>
}