@model IEnumerable<Scheduler.Common.ClientDevice>

@{
    ViewBag.Title = "Clients management";
}

<table id="clients">
    <tr>
        <th>
            Index
        </th>
        <th>
            Name
        </th>
        <th>
            IP Address
        </th>
        <th></th>
    </tr>
    @{ var coutner = 0;}
    @foreach (var client in Model)
    {
        <tr>
            <td>@{ ++coutner;}</td>
            <td>
                @Html.DisplayFor(modelItem => client.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => client.IpAddress)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = client.Name }) |
                @Html.ActionLink("Details", "Details", new { id = client.Name }) |
                @Html.ActionLink("Delete", "Delete", new { id = client.Name })
            </td>
        </tr>
    }
</table>

@section scripts{
<script type="text/javascript">
    $(function() {
        var connection = $.hubConnection('http://localhost:8080/');
        var proxy = connection.createHubProxy('ManagementHub');
        
        proxy.on('clientAdded', function (clientData) {
            $('#clients').append('<tr><td></td><td>' + clientData.name + '</td><td>' + clientData.ipAddress + '</td><td></td></tr>');
        });

        connection.start()
            .done(function() {
                
            })
            .fail(function() { alert("Could not Connect!"); });

        $("#broadcast").click(function() {
            proxy.invoke('Publish', $("#dataToSend").val(), 'Product');
        });

    });
</script>
}